

body {
    background-image: url("santamonica.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

 .catext {
    font-size: 100px;
    color: white;

}

.ptext {
   text-align: center;
   font-size: 25px;
   color: white;
   
}

.code {
   text-align: center;
   font-size: 25px;
   color: white;

   
}

.time {
   text-align: center;
   font-size: 20px;
   color: white;

}

.location {
    color: white;
    font-size:30px;
    font-family: Helvetica, sans-serif;
    position: absolute;
    bottom: 90px;
 
} 

.content-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:  Helvetica, sans-serif;
}

.button {
    background-color: #ffff;
    color: black;
    border: none;
    border-radius: 100%;
    text-align: center;
    float: right;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: -430px 0px;
    padding: 10px 15px;
   
}

